@font-face {font-family: Gothic_821_condensed_btt; src: url("gothic_821_condensed_bt.ttf")}
body {
    font-family: Gothic_821_condensed_btt;
    margin: 20px;
    padding: 20px;
    max-width: 600px;
}
p {

    margin: auto;
    font-size: 26px;
    color: #EEA34E;
}
body{
    background-color: #2b2b2b;
    margin: 0;
}
a {
    color: #B5FFE9;
}
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}